
var result = "<% if !(@flag) %><h2>Your Original Url is: <%= @url.base_original_url %></h2><h2>Your Minimized Url is: <%= escape_javascript @url.minimized_url %></h2><% else %> <%= escape_javascript @url.find_duplicate.minimized_url %><% end %>";

$("#result").html(result);