<html>
	<body>
		<center>
		<h2>Please Provide the URL here</h2>
		<form action="shortened_urls/create" method="post">
			
			
			
			
			
			
			
			<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter URL" name="base_original_url">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">
    Shorten</button>
  </div>
</div>
			
			
		</form>
		</center>
	</body>
</html>
