	<div class="row">
	<div class="col-sm-3"></div>
		<div class="col-sm-6">
		<h2>Please Provide the Url to shorten here</h2>
		 <form action="shortened_urls/create" method="post" data-remote="true"> 
			<div class="input-group mb-3">
			  <input type="text" class="form-control" placeholder="Enter URL" name="base_original_url" id="base_url"/>
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="submit">
			    Shorten</button>
			  </div>
			</div>
		 </form> 
	</div>
	
	</div>
	<div class="row">
	<div class="col-sm-3"></div>
		<div class="col-sm-6" id="result"></div>
	<div class="col-sm-3"></div>
	</div>
